---
import BaseLayout from "~/layouts/base-layout.astro";
---

<BaseLayout>
	<main class="flex h-screen overflow-auto max-md:flex-col">
		<div
			id="stamp-container"
			class="bg-base-100/80 sticky top-0 z-10 shadow-sm backdrop-blur-sm max-md:min-h-64 md:flex-4/3 md:border-r lg:left-0 lg:flex-5/3"
		>
		</div>

		<div
			hx-target="#stamp-container"
			hx-swap="beforeend"
			class="container mx-auto flex flex-wrap justify-center gap-x-2 gap-y-1 p-2"
		>
			<div
				hx-target="this"
				hx-get="/stamps/1"
				hx-trigger="intersect once"
				hx-swap="outerHTML"
			>
				Loading stamps...
			</div>
		</div>
	</main>
</BaseLayout>
