---
import { base } from "astro:config/server";
import { Toaster } from "svelte-sonner";

import "~/styles/global.css";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`${base}/favicon.svg`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Toaster richColors client:load />

    <div class="flex min-h-screen flex-col items-center">
      <Header {title} />

      <main class="relative container flex-1 px-2 py-8">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<script>
  import "iconify-icon";
</script>
